# Part I

Need data to talk about data, and a model to talk about models...

### The Data

In [1]:
import pandas as pd

df = pd.read_csv('data/football.csv', parse_dates=[4])
df = df.sort_values(['name', 'week']).reset_index(drop=True)

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3154 entries, 0 to 3153
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        3154 non-null   object
 1   position    3154 non-null   object
 2   yards       3154 non-null   float64
 3   week        3154 non-null   int64
 4   fetched_at  3154 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(2)
memory usage: 123.3+ KB

In [3]:
df.shape

(3154, 5)

In [4]:
df.sample(10)

                  name position  yards  week                 fetched_at
2275        Mike Davis       RB   91.0     3 2020-11-09 15:53:31.482681
679         D.J. Moore       WR   93.0     6 2020-11-09 15:53:48.807659
2257    Michael Gallup       WR   73.0     5 2020-11-09 15:53:46.280021
3079    Vance McDonald       TE    3.0     2 2020-11-09 15:53:23.226187
728       Damiere Byrd       WR   38.0     6 2020-11-09 15:53:48.807659
332   Breshad Perriman       WR   17.0     1 2020-11-09 15:53:14.844588
1704         John Ross       WR   17.0     1 2020-11-09 15:53:14.844588
426      Cameron Brate       TE    0.0     1 2020-11-09 15:53:14.844588
19          A.J. Green       WR   19.0     8 2020-11-09 15:53:58.887999
1757        Josh Adams       RB   22.0     1 2020-11-09 15:53:14.844588

In [5]:
df[df['name'] == 'Aaron Rodgers'].head(3)

             name position  yards  week                 fetched_at
25  Aaron Rodgers       QB  366.0     1 2020-11-09 15:53:14.844588
26  Aaron Rodgers       QB  246.0     2 2020-11-09 15:53:23.226187
27  Aaron Rodgers       QB  295.0     3 2020-11-09 15:53:31.482681

In [6]:
aaron = df[df['name'] == 'Aaron Rodgers'].copy()

In [7]:
aaron['yards_1'] = aaron['yards'].shift(1)
aaron['yards_2'] = aaron['yards'].shift(2)

In [8]:
aaron.head(10)

,name,position,yards,week,fetched_at,yards_1,yards_2
25,Aaron Rodgers,QB,366.0,1,2020-11-09 15:53:14.844588,NaN,NaN
26,Aaron Rodgers,QB,246.0,2,2020-11-09 15:53:23.226187,366.0,NaN
27,Aaron Rodgers,QB,295.0,3,2020-11-09 15:53:31.482681,246.0,366.0
28,Aaron Rodgers,QB,332.0,4,2020-11-09 15:53:39.185434,295.0,246.0
29,Aaron Rodgers,QB,174.0,6,2020-11-09 15:53:48.807659,332.0,295.0
30,Aaron Rodgers,QB,283.0,7,2020-11-09 15:53:56.069259,174.0,332.0
31,Aaron Rodgers,QB,300.0,8,2020-11-09 15:53:58.887999,283.0,174.0

In [9]:
df['yards_1'] = df.groupby('name')['yards'].shift(1)
df['yards_2'] = df.groupby('name')['yards'].shift(2)

In [10]:
df = df.dropna(subset=["yards_1", "yards_2"])

### The Objective

<font color="red">0 to üíØ real quick</font>

Predict \*points\* next game based on the points score for the last two games

In [11]:
target = 'yards'
y = df[target]
X = df[['position', 'yards_1', 'yards_2']]

In [12]:
from sklearn.model_selection import train_test_split

`train_test_split` on time series data is a little different...

In [13]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, 
    test_size=0.10, 
    random_state=42, 
    shuffle=False
)

### The Model

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelBinarizer, StandardScaler
from sklearn.impute import SimpleImputer
# new
from sklearn_pandas import DataFrameMapper

In [15]:
mapper = DataFrameMapper([
    (['position'], [SimpleImputer(strategy="most_frequent"), LabelBinarizer()]),
    (['yards_1'], [SimpleImputer(), StandardScaler()]), 
    (['yards_2'], [SimpleImputer(), StandardScaler()]),
], df_out=True)

In [16]:
Z_train = mapper.fit_transform(X_train)
Z_test = mapper.transform(X_test)

In [17]:
model = LinearRegression()
model.fit(Z_train, y_train)

LinearRegression()

In [18]:
model.score(Z_train, y_train)

0.7555650143540136

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_squared_error(y_test, model.predict(Z_test)) ** (1/2)

35.99968338897275

### DataFrameMapper (How + Why)

https://github.com/scikit-learn-contrib/sklearn-pandas

```pip install sklearn-pandas```

In [21]:
demo = pd.DataFrame({
    'position': ['RB', 'QB', 'TE', 'WR']
})

pd.get_dummies(demo)

   position_QB  position_RB  position_TE  position_WR
0            0            1            0            0
1            1            0            0            0
2            0            0            1            0
3            0            0            0            1

In [22]:
demo_2 = pd.DataFrame({
    'position': ['TE/WR', 'RB/WR', 'QB-TE', 'TE', 'QB']
})

pd.get_dummies(demo_2)

   position_QB  position_QB-TE  position_RB/WR  position_TE  position_TE/WR
0            0               0               0            0               1
1            0               0               1            0               0
2            0               1               0            0               0
3            0               0               0            1               0
4            1               0               0            0               0

In [23]:
new = pd.DataFrame({
    'position': ['üçî']
})

pd.get_dummies(new)

   position_üçî
0           1

### What to do instead...

In [24]:
X_train.sample(5)

     position  yards_1  yards_2
2164       WR     16.0      0.0
2664       RB     30.0     12.0
2585       RB     47.0     14.0
437        RB     23.0     37.0
412        QB    444.0    230.0

In [25]:
lb = LabelBinarizer()
lb.fit(X_train['position'])
lb.transform(X_train['position'])

array([[0, 0, 0, 1],
       [0, 0, 0, 1],
       [0, 0, 0, 1],
       ...,
       [1, 0, 0, 0],
       [1, 0, 0, 0],
       [1, 0, 0, 0]])

In [26]:
lb.classes_

array(['QB', 'RB', 'TE', 'WR'], dtype='<U2')

In [27]:
new = pd.DataFrame({
    'position': ['üçî']
})

In [28]:
lb.transform(new['position'])

array([[0, 0, 0, 0]])

In [29]:
new = pd.DataFrame({
    'position': [None]
})

# lb.transform(new['position'])

In [30]:
mapper = DataFrameMapper([
    (['position'], [SimpleImputer(strategy="most_frequent"), LabelBinarizer()]),
    (['yards_1'], [SimpleImputer(), StandardScaler()]), 
    (['yards_2'], [SimpleImputer(), StandardScaler()]),
], df_out=True)

In [31]:
mapper.fit(X_train)
mapper.transform(X_train)[:10]

    position_QB  position_RB  position_TE  position_WR   yards_1   yards_2
2             0            0            0            1  0.382029 -0.143412
3             0            0            0            1  0.055700  0.412711
4             0            0            0            1  1.273157  0.076451
7             0            1            0            0 -0.433793 -0.466740
8             0            1            0            0 -0.647162 -0.427940
9             0            1            0            0 -0.609508 -0.647803
10            0            1            0            0 -0.258077 -0.609004
11            0            1            0            0 -0.509100 -0.246877
14            0            0            0            1 -0.283180  0.011785
15            0            0            0            1 -0.195322 -0.272743

But, maybe the best part about `mapper` is that you can put it in a pipeline...

In [32]:
from sklearn.pipeline import make_pipeline

pipe = make_pipeline(mapper, model)
pipe.fit(X_train, y_train)

Pipeline(steps=[('dataframemapper',
                 DataFrameMapper(df_out=True,
                                 features=[(['position'],
                                            [SimpleImputer(strategy='most_frequent'),
                                             LabelBinarizer()]),
                                           (['yards_1'],
                                            [SimpleImputer(),
                                             StandardScaler()]),
                                           (['yards_2'],
                                            [SimpleImputer(),
                                             StandardScaler()])])),
                ('linearregression', LinearRegression())])

### The Pickle ü•í

In [33]:
import pickle

with open('pickles/pipe.pkl', 'wb') as f:
    pickle.dump(pipe, f)

In [34]:
del pipe

In [35]:
with open('pickles/pipe.pkl', 'rb') as f:
    pipe = pickle.load(f)

In [36]:
pipe.score(X_train, y_train)

0.7555650143540136

In [37]:
pipe.predict(X_train)[:10]

array([50.375, 57.25 , 78.   , 24.5  , 20.375, 15.375, 25.   , 28.5  ,
       38.25 , 32.875])

In [38]:
X_train.sample(1).to_dict(orient='list')

{'position': ['RB'], 'yards_1': [12.0], 'yards_2': [30.0]}

In [39]:
new = pd.DataFrame({
    'position': ['WR'], 
    'yards_1': [28.0], 
    'yards_2': [20.0]
})

In [40]:
pipe.predict(new)

array([27.25])